
@model Model.News
@{
    ViewData["Title"] = "NewsInfo";
}
<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td></td>
    </tr>

    <tr>
        <td align="center">
            <table width="1001" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                <tr>
                    <td></td>
                    <td height="210" colspan="3" valign="top"><img src="../../images/hd.jpg" width="982" height="210"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td height="10" colspan="3" valign="top"></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="9"></td>
                    <td width="744" valign="top" style="background-image:url(../../image/rbg.jpg); background-position:bottom; background-repeat:no-repeat;">
                        <table width="745" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="36" background="../../images/ar.jpg">
                                    <table width="745" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="3" colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td width="25">&nbsp;</td>
                                            <td width="227" align="left" style="font-size:14px; font-weight:bold;">最新资讯</td>
                                            <td width="485" align="right">你现在的位置：<a href="/">首页</a>&nbsp;>&nbsp;<a href="#">@Model.Type</a></td>
                                            <td width="8">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="710" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>

                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="center">

                                                            <div align="center" style="padding-top:10px; font-size:16px; color:#000000; line-height:150%;">
                                                                <font color="#000000"><strong>@Model.Title</strong></font>
                                                            </div>
                                                            <div align="center" class="STYLE1111">
                                                                发布人：@Model.PublishedBy&nbsp;&nbsp;
                                                                时间：@Model.PublishedTime&nbsp;&nbsp;&nbsp;
                                                                浏览：<font color="red">
                                                                    <script src="static/js/5_145_1.js"></script>
                                                                </font>
                                                            </div>
                                                            <div align="center"><span class="STYLE1111">-----------------------------------------------------------------------------------------------------</span></div>

                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td>
                                                                        <div style="width:100%;text-align:left; padding:0px;overflow-x:hidden; color:#000000">
                                                                              @Html.Raw(System.Net.WebUtility.UrlDecode(@Model.Content))
                                                                            <p style="text-align: center;"><img alt="刷票公司" src="../../images/dbc025ff78893294cb545109590482bc.jpg" style="width: 450px; height: 418px;"></p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="15"></td>
                            </tr>
                        </table>
                    </td>

                    <td width="9"></td>
                    <td width="228" height="200" valign="top" style="background-image:url(../../image/lbg.jpg); background-position:bottom; background-repeat:no-repeat;">
                        <table width="228" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="63" background="../../images/la.jpg">&nbsp;</td>
                            </tr>


                           

                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td height="33" background="../../images/al.jpg">
                                    <table width="228" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="3" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td width="27">&nbsp;</td>
                                            <td width="201" align="left" style="font-size:14px; font-weight:bold;">联系我们</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td height="200" align="center" valign="top">
                                    <table width="208" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left">
                                                <p>
                                                    <span>
                                                        <span style="line-height:2.5;font-size:12px;">网络投票公司</span><br>
                                                        <span style="line-height:2.5;font-size:12px;">Q&nbsp; Q：3282079595</span>
                                                    </span>
                                                </p>
                                                <p>
                                                    <span>
                                                        <span style="line-height:2.5;font-size:12px;"></span>
                                                        <span style="line-height:2.5;font-size:12px;">电话：18963948278&nbsp; </span><br>
                                                        <span style="line-height:2;font-size:12px;">
                                                            <span style="line-height:2.5;">微信：18963948278</span><br>
                                                            <span style="line-height:2.5;">网络投票公司是一家多元化发展的互联网公司，会员遍布全国，专业从事互联网络投票,代理投票,微信投票,专业投票公司,微信人工投票以及快速提升各大中小活动排名服务。</span>
                                                        </span>
                                                    </span>
                                                </p>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td height="15"></td>
                            </tr>
                        </table>
                    </td>

                    <td width="10"></td>
                </tr>
            </table>
        </td>
    </tr>



</table>


