<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebCore</title>

    <style type="text/css">
        body {
            background-color: #f2f4f1;
        }

        #tab1 a .STYLE13 {
            font-size: 14px;
            font-weight: bold;
        }

        #tab2 a .STYLE13 .STYLE13 {
            font-weight: bold;
        }

        #tab3 a .STYLE13 {
            font-weight: bold;
        }

        #tab4 a .STYLE13 {
            font-weight: bold;
        }

        #tab5 a .STYLE13 {
            font-weight: bold;
        }

        .ul {
            position: relative;
            width: 400%;
            left: 0;
            top: 0;
        }

            .ul li {
                float: left;
                width: 25%;
            }

        .banner {
            overflow: hidden;
        }

        .ul img {
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" background="../../images/bg.jpg">
                        <table width="1001" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="591"><h1><a href="http://localhost/vote"><img src="../../images/logo.jpg" width="591" height="102" alt="有味微信投票公司" /></a></h1></td>
                                <td width="410" valign="top">
                                    <table width="410" border="0" cellspacing="0" cellpadding="0" style="margin-top: 22px;">
                                        <tr>
                                            <td height="50" align="right" valign="bottom">
                                                <span class="STYLE1">
                                                    <img src="../../images/phone.png" width="50" /><span class="STYLE3" style="color:#fff ;font-size:16px">
                                                        电话：18963948278
                                                        <img src="../../images/weixin.png" width="50" />微信号：18963948278
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="1001" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="10" bgcolor="#FFFFFF"></td>
                            </tr>
                            <tr>
                                <td height="39" align="center" bgcolor="#FFFFFF">
                                    <table width="982" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="39" background="../../images/mum.jpg">
                                                <script type=text/javascript>
<!--    //--><![CDATA[//><!--
                                                    function menuFix() {

                                                        var sfEls = document.getElementById("nav").getElementsByTagName("li");
                                                        for (var i = 0; i < sfEls.length; i++) {
                                                            sfEls[i].onmouseover = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onMouseDown = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onMouseUp = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onmouseout = function () {
                                                                this.className = this.className.replace(new RegExp("( ?|^)sfhover\b"),
                                                                    "");
                                                            }
                                                        }
                                                    }
                                                    window.onload = menuFix;
                                                                                                                                                                                                                            //--><!]]></script>
                                                <style type="text/css">
                                                    body {
                                                        margin: 0;
                                                        font-size: 14px;
                                                        font-family: "宋体";
                                                        line-height: 180%;
                                                        color: #333;
                                                    }

                                                    ul, dl, h1, h2, h3, h4, h5, h6, form, dl, dd {
                                                        padding: 0;
                                                        margin: 0;
                                                    }

                                                    h1 {
                                                        font-family: "宋体";
                                                        font-size: 14px;
                                                    }

                                                    h2 {
                                                        font-size: 14px;
                                                    }

                                                    h3 {
                                                        font-size: 14px;
                                                        font-weight: bold;
                                                    }

                                                    h4 {
                                                        font-size: 14px;
                                                    }

                                                    h5 {
                                                        font-size: 14px;
                                                        font-weight: bold;
                                                    }

                                                    ul {
                                                        list-style: none;
                                                    }

                                                    img {
                                                        border: 0px;
                                                    }


                                                    #nav {
                                                        float: left;
                                                        height: 37px;
                                                        margin: 0 auto;
                                                        margin-top: 2px;
                                                        border: 0px #fff solid;
                                                    }

                                                    #menu ul {
                                                        list-style: none;
                                                        margin: 0px;
                                                        padding: 0px;
                                                    }

                                                    #nav ul li {
                                                        float: left;
                                                        margin-left: 5px;
                                                    }

                                                        #nav ul li a {
                                                            display: block;
                                                            background: url(../images/m1.jpg) no-repeat left;
                                                            line-height: 37px;
                                                            padding-left: 15px;
                                                            font-size: 14px;
                                                            font-weight: bold;
                                                            color: #4a4a4a;
                                                        }

                                                            #nav ul li a span {
                                                                display: block;
                                                                background: url(../images/m2.jpg) no-repeat right;
                                                                line-height: 37px;
                                                                padding-right: 15px;
                                                            }

                                                            #nav ul li a:hover {
                                                                background: url(../images/m3.jpg) no-repeat left;
                                                                padding-left: 15px;
                                                                color: #9e6144;
                                                                font-size: 14px;
                                                                text-decoration: none;
                                                            }

                                                                #nav ul li a:hover span {
                                                                    background: url(../images/m4.jpg) no-repeat right;
                                                                }

                                                            #nav ul li a#nav_current {
                                                                background: url(../images/a3.jpg) 0 0 no-repeat;
                                                                color: #ffff00;
                                                            }

                                                                #nav ul li a#nav_current span {
                                                                    background: url(../images/a4.jpg) right 0px;
                                                                }

                                                        #nav ul li ul {
                                                            display: none;
                                                            position: absolute;
                                                            background: #3494cf;
                                                        }

                                                            #nav ul li ul li {
                                                                float: none;
                                                                margin: 0;
                                                            }

                                                                #nav ul li ul li a {
                                                                    background: #70716b;
                                                                    height: 30px;
                                                                    line-height: 30px;
                                                                    width: 140px;
                                                                    padding-right: 10px;
                                                                    color: #CCC;
                                                                }

                                                                    #nav ul li ul li a:hover {
                                                                        background: #333;
                                                                        color: #ffff00;
                                                                    }

                                                        #nav ul li:hover ul {
                                                            display: block;
                                                        }

                                                        #nav ul li.sfhover ul {
                                                            display: block;
                                                        }
                                                </style>

                                                <div id="nav">
                                                    <ul>
                                                        <li><a href="/"><span>首页</span></a></li>

                                                        <li><a href="../../product"><span>投票常识</span></a></li>

                                                        <li><a href="../../product"><span>成功案例</span></a></li>
                                                        <li><a href="../../news/about.html"><span>关于我们</span></a></li>
                                                        <li><a href="../../news/contact.html"><span>联系我们</span></a></li>

                                                    </ul>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#FFFFFF"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
             
            </table>
        
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">


                <tr>
                    <td height="60" align="center" valign="top">
                        <div style="width:1001px; height:60px; text-align:left; overflow:hidden;">
                            <br>友情链接：

                            <a href="javascript:;" target="_blank">钢格板厂</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">升降台</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">防滑刻纹机</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">手推式洗地机</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">钢格栅板</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">上海展览搭建</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">耐候板</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">广州大众搬家公司</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">石家庄驾校培训</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">岩棉板</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">片碱厂家</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">核定征收</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">假山</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">板式换热器</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">芝麻黑</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">发电机组厂家</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">石家庄旅游</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">91游戏网</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">宁波塑料回收</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">河南货架厂</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">钢格栅板</a>&nbsp;|&nbsp;　
                            <a href="javascript:;" target="_blank">静电发电机组</a>&nbsp;|&nbsp;　

                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="71" align="center" background="../../images/fbg.jpg">
                        <table width="980" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td align="center" style="color:#FFF">
                                    COPYRIGHT &#169; 2018-2019 &nbsp;网络投票公司&nbsp; &nbsp;&nbsp;Q Q：3282079595 &nbsp; <br>
                                    技术支持：Powered by EmpireCMS
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
